@import "../../../../styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;

  font-size: 25px;

  color: $white;

  h2 {
    color: $black;
    padding: 10px;
  }

  form {
    display: flex;
    flex-direction: column;

    border-radius: 0.3rem;
    background-color: $yellow;
    padding: 40px;
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);

    input {
      font-size: 25px;
      border: none;
      padding: 10px;
      border-radius: 0.2rem;
      margin-bottom: 20px;
    }
  }

  button {
    padding: 10px;
    font-size: 30px;
    margin: 10px;

    border: none;
    border-radius: 0.2rem;

    color: $white;
    background-color: $blue;

    &:hover {
      color: $blue;
      background-color: $white;
      transition: 0.5s;
    }
  }
}
