@import "../../../../styles/colors.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2%;

  font-size: 25px;
  color: $black;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    
    .card {
      display: flex;
      flex-direction: column;
  
      border-radius: 5px;
      box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
      padding: 30px;
      margin: 20px;
      width: 400px;
      transition: all 0.3s ease-out;
      border-left: 3px solid $blue;
  
      &:hover {
        transform: translateY(-5px);
        cursor: pointer;
        border-left: 3px solid $yellow;
  
        transition: 0.3s;
      }
  
      p {
        color: $grey;
        font-size: 16px;
      }
    }
  }

}
