@import "../../../../styles/colors.scss";

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  background-color: $blue;
  color: $white;

  font-size: 20px;
  padding: 18px;

  img {
    width: 70%;
    height: auto;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    .icon {
      font-size: 40px;
      margin-bottom: 4px;

      &:hover {
        color: $yellow;
        transition: 0.3s;
      }
    }

    span {
      font-size: 16px;
    }
  }
}
